/* THEMES FOR F# BUTTONS */
:root {
	--active-row-one: rgb(255, 0, 0);
	--active-row-two: rgb(255, 100, 0);
	--active-row-three: rgb(200, 255, 0);
	--active-row-four: rgb(0, 255, 0);
	--active-row-five: rgb(0, 0, 255);
	--active-row-six: rgb(200, 0, 255);
	--text-light: #f1f1f1;
	--text-dark: #121212;
	--icon-light: #9d9d9d;
	--icon-dark: #323232;
	--active-outline: 2px solid;
	--blob-color-one: #6516c5;
	--blob-color-two: #6b1184;
	--blob-color-three: #232280;
	--font-main: 'DM Sans', sans-serif;
	--blobs-display: initial;
	--background-gradient: linear-gradient(to left, #201f47, #351f47);
	--text-main: var(--text-light);
	--button-color: var(--icon-light);
	--wrapper-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
	--wrapper-bg: rgba(24, 23, 47, 0.511);
	--wrapper-blur: blur(4px);
	--key-border: 4px;
	--key-bg: linear-gradient(to bottom left, #000, rgb(0, 0, 0));
	--key-shadow: 0 2px 2px 1px #000, inset 0 2px 1px 0 rgb(72, 72, 72);
	--active-key-shadow: inset 0 1px 2px 0 #000, 0 1px 1px 0 #666, 0px 0px 8px 4px;
}

.theme-one {
	--font-main: 'DM Sans', sans-serif;
	--blobs-display: initial;
	--background-gradient: linear-gradient(to left, #201f47, #351f47);
	--text-main: var(--text-light);
	--button-color: var(--icon-light);
	--wrapper-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
	--wrapper-bg: rgba(24, 23, 47, 0.511);
	--wrapper-blur: blur(4px);
	--key-border: 4px;
	--key-bg: linear-gradient(to bottom left, #000, rgb(0, 0, 0));
	--key-shadow: 0 2px 2px 1px #000, inset 0 2px 1px 0 rgb(72, 72, 72);
	--active-key-shadow: inset 0 1px 2px 0 #000, 0 1px 1px 0 #666, 0px 0px 8px 4px;
}

.theme-two {
	--font-main: 'DM Sans', sans-serif;
	--blobs-display: initial;
	--background-gradient: linear-gradient(to left, #878787, #e7c9ff);
	--text-main: var(--text-dark);
	--button-color: #6531be;
	--wrapper-shadow: 1px 2px 10px rgba(72, 72, 72, 0.5);
	--wrapper-bg: rgba(217, 217, 217, 0.511);
	--wrapper-blur: blur(4px);
	--key-border: 4px;
	--key-bg: linear-gradient(
		to bottom left,
		rgb(197, 197, 197),
		rgb(202, 202, 202)
	);
	--key-shadow: 0 2px 2px 1px rgb(150, 150, 150),
		inset 0 2px 1px 0 rgb(136, 136, 136);
	--active-key-shadow: inset 0 0 18px rgb(213, 213, 213),
		0 0 2px rgb(70, 70, 70), 0px 0px 8px 4px;
	--active-outline: 1px solid;
	--active-row-one: rgb(187, 187, 187);
	--active-row-two: rgb(187, 187, 187);
	--active-row-three: rgb(187, 187, 187);
	--active-row-four: rgb(187, 187, 187);
	--active-row-five: rgb(187, 187, 187);
	--active-row-six: rgb(187, 187, 187);
}

.theme-two .operation-key {
	background-image: linear-gradient(#7977de, #7d7cce);
}

.theme-two .row-one .key,
.theme-two .direction-keys .key {
	background-image: linear-gradient(#9a77c4, #986dcd);
}

.theme-three {
	--font-main: 'Source Code Pro', monospace;
	--blobs-display: none;
	--background-gradient: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
	--text-main: var(--text-light);
	--button-color: var(--icon-light);
	--wrapper-shadow: 1px 2px 10px rgba(70, 70, 70, 0.616);
	--wrapper-bg: rgba(49, 49, 49, 0.7);
	--wrapper-blur: blur(0);
	--key-border: 16px;
	--key-bg: linear-gradient(to left, #2b2b2b, #303030, #2b2b2b);
	--key-shadow: -2px -2px 6px rgba(12, 12, 12, 0.417),
		2px 2px 5px rgba(5, 5, 5, 0.516);
	--active-key-shadow: 0px 0px 10px 4px;
}

.theme-three .operation-key,
.secondary-key {
	font-size: 0.8rem;
}

.theme-four {
	--font-main: 'Source Code Pro', monospace;
	--blobs-display: none;
	--background-gradient: linear-gradient(#eee, #eee);
	--text-main: var(--light-dark);
	--button-color: var(--icon-dark);
	--wrapper-shadow: 1px 2px 10px rgba(119, 119, 119, 0.5);
	--wrapper-bg: rgba(154, 154, 154, 0.511);
	--wrapper-blur: blur(0);
	--key-border: 16px;
	--key-bg: linear-gradient(to left, #dcdcdc, #f1f1f1, #e0e0e0);
	--key-shadow: -2px -2px 4px rgb(179, 179, 179), 2px 2px 4px rgb(139, 139, 139);
	--active-key-shadow: inset 0 1px 2px 0 rgb(192, 192, 192), 0px 0px 10px 4px;
}

.theme-four .operation-key,
.secondary-key {
	font-size: 0.8rem;
}

.theme-five {
	--font-main: 'Hanken Grotesk', sans-serif;
	--blobs-display: none;
	--background-gradient: linear-gradient(to bottom left, #232323, #2b2727);
	--text-main: var(--text-light);
	--button-color: var(--icon-light);
	--wrapper-shadow: 1px 1px 5px rgba(45, 45, 45, 0.5);
	--wrapper-bg: rgba(101, 101, 101, 0.634);
	--wrapper-blur: blur(0);
	--key-border: 6px;
	--key-bg: linear-gradient(180deg, #282828, #202020);
	--key-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
		inset 0 -8px 8px rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(0, 0, 0, 0.8),
		10px 10px 24px rgba(0, 0, 0, 0.4);
	--active-key-shadow: inset 0 1px 2px 0 rgb(192, 192, 192), 0px 0px 10px 5px;
	--active-outline: none;
}

.theme-five .key::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 6px;
	bottom: 6px;
	right: 8px;
	background-color: linear-gradient(90deg, #232323, #4a4a4a);
	border-radius: 10px;
	box-shadow: -4px -4px 8px rgba(184, 184, 184, 0.2),
		10px 5px 10px rgba(0, 0, 0, 0.14);
}

.theme-six {
	--font-main: 'Hanken Grotesk', sans-serif;
	--blobs-display: none;
	--background-gradient: linear-gradient(to bottom left, #fff, #e0e0e0);
	--text-main: var(--text-dark);
	--button-color: var(--icon-dark);
	--wrapper-shadow: 1px 1px 5px rgba(88, 88, 88, 0.5);
	--wrapper-bg: rgba(198, 198, 198, 0.75);
	--wrapper-blur: blur(0);
	--key-border: 6px;
	--key-bg: linear-gradient(180deg, #c7c7c7, #c0c0c0);
	--key-shadow: inset 0 -8px 8px rgba(91, 91, 91, 0.2),
		0 0 0 2px rgba(161, 161, 161, 0.8);
	--active-key-shadow: inset 0 1px 2px 0 rgb(192, 192, 192), 0px 0px 10px 5px;
	--active-outline: none;
}

.theme-six .key::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 6px;
	bottom: 6px;
	right: 8px;
	background-color: linear-gradient(90deg, #232323, #4a4a4a);
	border-radius: 10px;
	box-shadow: -4px -4px 8px rgba(145, 145, 145, 0.2),
		10px 5px 10px rgba(36, 36, 36, 0.14);
}

.theme-seven {
	--font-main: 'DM Sans', sans-serif;
	--blobs-display: initial;
	--blob-color-one: #037971;
	--blob-color-two: #3d6869;
	--blob-color-three: #049f95;
	--background-gradient: linear-gradient(to bottom left, #023436, #0e3a3c);
	--text-main: var(--text-light);
	--button-color: #629464;
	--wrapper-shadow: 1px 1px 5px rgba(12, 27, 17, 0.75);
	--wrapper-bg: #102727;
	--wrapper-blur: blur(8px);
	--key-border: 4px;
	--key-bg: linear-gradient(180deg, #011d09, #031e15);
	--key-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.2),
		0 0 0 2px rgba(0, 0, 0, 0.4);
	--active-key-shadow: inset 0 1px 4px 0 rgb(176, 176, 176), 0px 0px 10px 5px;
	--active-row-one: rgb(72, 255, 108);
	--active-row-two: rgb(0, 255, 42);
	--active-row-three: rgb(23, 195, 0);
	--active-row-four: rgb(12, 172, 60);
	--active-row-five: rgb(33, 147, 76);
	--active-row-six: rgb(48, 139, 59);
}

.theme-seven .key:hover {
	background-image: linear-gradient(
		rgba(70, 95, 85, 0.2),
		rgba(70, 95, 85, 0.2)
	);
}

.theme-seven .operation-key {
	background-image: linear-gradient(
		180deg,
		rgb(5, 11, 6),
		rgb(8, 23, 11),
		rgb(4, 10, 6)
	);
}

.theme-eight {
	--font-main: 'DM Sans', sans-serif;
	--blobs-display: initial;
	--blob-color-one: #dd6c30;
	--blob-color-two: #9c2222;
	--blob-color-three: #c0602c;
	--background-gradient: linear-gradient(to bottom left, #d4d4d4, #cfcfcf);
	--text-main: var(--text-dark);
	--button-color: #9c2222;
	--wrapper-shadow: 1px 1px 5px rgba(36, 36, 36, 0.75);
	--wrapper-bg: #c9c9c9;
	--wrapper-blur: blur(8px);
	--key-border: 4px;
	--key-bg: linear-gradient(180deg, #bababa, #c0c0c0);
	--key-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.4);
	--active-key-shadow: inset 0 1px 4px 0 rgb(176, 176, 176), 0px 0px 5px 3px;
	--active-row-one: #00f404;
	--active-row-two: #21c70f;
	--active-row-three: #a0d937;
	--active-row-four: #daeb42;
	--active-row-five: #d77c27;
	--active-row-six: #f45500;
}

.theme-eight .key:hover {
	background-image: linear-gradient(
		rgba(151, 95, 64, 0.4),
		rgba(151, 95, 64, 0.4)
	);
}

.theme-eight .operation-key {
	background-image: linear-gradient(#ba8068, #d0876b);
}

.theme-eight .row-one .key,
.theme-eight .direction-keys .key {
	background-image: linear-gradient(#619276, #5c8f6e);
}

/* General */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: var(--background-gradient);
	color: var(--text-main);
	font-family: var(--font-main);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 250ms ease-in;
	height: 100vh;
}

kbd {
	font-family: inherit;
	display: inline-block;
}

textarea,
button {
	resize: none;
	background-color: transparent;
	font-family: inherit;
	border: none;
	display: inline-block;
}

textarea:focus {
	outline: none;
}

/* Input Text Container */
.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.input-container textarea {
	height: 200px;
	width: 600px;
	max-width: 100%;
	margin: 1.6rem;
	border-radius: 4px;
	padding: 1.2rem 2.4rem 1.2rem 1.2rem;
	line-height: 1.5;
	font-size: 1rem;
	box-shadow: var(--wrapper-shadow);
	background-color: var(--wrapper-bg);
	backdrop-filter: var(--wrapper-blur);
	caret-color: var(--text-main);
	color: var(--text-main);
}

.input-buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 15%;
	right: 6%;
}

.input-buttons button {
	font-size: 1.2rem;
	padding: 0.2rem;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	color: var(--button-color);
}

.input-buttons button:hover {
	transform: scale(1.2) rotate(360deg);
	color: #fff;
}

.input-buttons button:active {
	color: rgb(0, 0, 0);
}

/* Background Blob Animations */
.blobs {
	position: relative;
	display: var(--blobs-display);
}

.blob {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	opacity: 0.45;
	filter: blur(5px);
	border-radius: 35% 50% 40% 65%;
	animation: shape-changes 10s ease-in infinite alternate,
		blob-movements 20s ease-in infinite alternate;
}

.blob-one {
	background: var(--blob-color-one);
	height: 600px;
	width: 600px;
	left: 50px;
	bottom: 0;
}

.blob-two {
	background: var(--blob-color-two);
	height: 400px;
	width: 650px;
	top: -500px;
	left: -850px;
}

.blob-three {
	background: var(--blob-color-three);
	height: 450px;
	width: 550px;
	top: 150px;
	left: -300px;
}

@keyframes shape-changes {
	0% {
		border-radius: 35% 50% 40% 65% / 40% 60% 30% 50%;
	}
	20% {
		border-radius: 45% 55% 35% 55% / 40% 65% 70% 35%;
	}
	40% {
		border-radius: 30% 45% 30% 60% / 55% 50% 35% 40%;
	}
	60% {
		border-radius: 45% 65% 40% 55% / 25% 40% 35% 50%;
	}
	80% {
		border-radius: 50% 35% 55% 60% / 50% 45% 60% 65%;
	}
	100% {
		border-radius: 30% 50% 40% 60% / 40% 60% 30% 50%;
	}
}

@keyframes blob-movements {
	from {
		transform: translate(30%, 50%) rotate(15deg);
	}
	to {
		transform: translate(20%, 40%) rotate(5deg) scale(1.1);
	}
}

/* Keyboard */
.row {
	display: flex;
	align-items: center;
	margin: 0.2rem 0;
}

.keyboard-container {
	max-width: 100%;
	padding: 1.2rem;
	border-radius: 8px;
	opacity: 0.8;
	box-shadow: var(--wrapper-shadow);
	background-color: var(--wrapper-bg);
	backdrop-filter: var(--wrapper-blur);
}

.key {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 1.4rem;
	padding: 0.4rem;
	margin: 0.2rem;
	cursor: pointer;
	width: 70px;
	height: 75px;
	border-radius: var(--key-border);
	transition: all 150ms ease-in;
	background-image: var(--key-bg);
	box-shadow: var(--key-shadow);
	position: relative;
}

.right-align {
	align-self: flex-end;
}

.left-align {
	align-self: flex-start;
}

.row-one .key:active {
	box-shadow: var(--active-key-shadow) var(--active-row-one);
	outline: var(--active-outline) var(--active-row-one);
}

.row-two .key:active {
	box-shadow: var(--active-key-shadow) var(--active-row-two);
	outline: var(--active-outline) var(--active-row-two);
}

.row-three .key:active {
	box-shadow: var(--active-key-shadow) var(--active-row-three);
	outline: var(--active-outline) var(--active-row-three);
}

.row-four .key:active {
	box-shadow: var(--active-key-shadow) var(--active-row-four);
	outline: var(--active-outline) var(--active-row-four);
}

.row-five .key:active {
	box-shadow: var(--active-key-shadow) var(--active-row-five);
	outline: var(--active-outline) var(--active-row-five);
}

.row-six .key:active {
	box-shadow: var(--active-key-shadow) var(--active-row-six);
	outline: var(--active-outline) var(--active-row-six);
}

.key:active {
	transform: translateY(2px) scale(0.98);
	font-weight: bold;
}

.secondary-key {
	font-size: 1rem;
}

.row-one .key {
	height: 50%;
	font-size: 0.8rem;
	justify-content: flex-end;
	align-items: center;
}

.letter-key {
	justify-content: flex-end;
	font-size: 1.6rem;
}

.operation-key {
	justify-content: flex-end;
	font-size: 1rem;
	padding: 0.4rem 0.8rem;
}

.m-key {
	width: 105px;
}

.lg-key {
	width: 125px;
}

.xl-key {
	width: 163px;
}

.space-key {
	width: 416px;
}

.direction-keys {
	display: flex;
	align-items: flex-end;
}

.y-keys {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.x-key {
	justify-content: center;
	height: auto;
}

.y-key {
	height: auto;
	justify-content: center;
}

.caps-key {
	position: relative;
}

.caps-indicator {
	position: absolute;
	top: 20%;
	right: 10%;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: rgb(121, 121, 121);
}

/* .small-device-info {
	display: none;
} */

/* Active Classes for Keypress */
.caps-indicator.active {
	background-color: rgb(0, 255, 0);
	box-shadow: 0px 0px 4px 1px rgb(0, 255, 0);
}

.row-one .key.active {
	box-shadow: var(--active-key-shadow) var(--active-row-one);
	outline: var(--active-outline) var(--active-row-one);
}

.row-two .key.active {
	box-shadow: var(--active-key-shadow) var(--active-row-two);
	outline: var(--active-outline) var(--active-row-two);
}

.row-three .key.active {
	box-shadow: var(--active-key-shadow) var(--active-row-three);
	outline: var(--active-outline) var(--active-row-three);
}

.row-four .key.active {
	box-shadow: var(--active-key-shadow) var(--active-row-four);
	outline: var(--active-outline) var(--active-row-four);
}

.row-five .key.active {
	box-shadow: var(--active-key-shadow) var(--active-row-five);
	outline: var(--active-outline) var(--active-row-five);
}

.row-six .key.active {
	box-shadow: var(--active-key-shadow) var(--active-row-six);
	outline: var(--active-outline) var(--active-row-six);
}

.key.active {
	transform: translateY(2px) scale(0.98);
	font-weight: bold;
}

/* Credits */

footer {
	margin: 1.4rem;
	font-size: 0.9rem;
}

footer a {
	text-decoration: none;
	color: var(--button-color);
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
	color: #fff;
}

/* MODAL */
.hidden {
	display: none;
}

.close-modal {
	position: absolute;
	right: 8%;
	top: 10%;
	cursor: pointer;
	font-size: 2rem;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(4px);
	z-index: 1;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 65%;

	color: var(--text-main);
	background: var(--background-gradient);
	opacity: 1;
	padding: 4rem;
	border-radius: 4px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 5;
}

.modal i,
h1,
b {
	color: var(--button-color);
}

.modal h1 {
	margin: 0.6rem 0;
}

.modal i {
	margin: 0.4rem;
}

.modal span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal small {
	display: block;
	margin: 1rem 0 0;
}

.modal code {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0.2rem;
	border-radius: 3px;
}

.modal p {
	line-height: 1.6;
	margin-top: 1rem;
}

@media (max-width: 800px) {
	html {
		font-size: 70%;
		overflow: hidden;
	}
	.input-container textarea {
		height: 150px;
		width: 450px;
	}

	.input-buttons {
		bottom: 18%;
		right: 8%;
	}

	.keyboard-container {
		padding: 1rem;
	}

	.key {
		width: 60px;
		height: 50px;
	}

	.operation-key {
		padding: 0.8rem;
	}

	.m-key {
		width: 70px;
	}

	.lg-key {
		width: 90px;
	}

	.xl-key {
		width: 125px;
	}

	.space-key {
		width: 225px;
	}

	.x-key,
	.y-key {
		height: auto;
	}

	.modal {
		width: 75%;
	}

	.row-one .key {
		height: 50%;
		padding: 0.4rem 0.6rem;
	}
}

@media (max-width: 550px) {
	html {
		overflow: hidden;
	}

	.input-container textarea {
		height: 80px;
		width: 280px;
	}
	.keyboard-container {
		padding: 0.8rem;
	}

	.key {
		width: 35px;
		justify-content: flex-end;
	}

	.secondary-key {
		display: none;
	}

	.operation-key {
		padding: 0.4rem;
		font-size: 0.7rem;
	}

	.m-key {
		width: 50px;
	}

	.lg-key {
		width: 70px;
	}

	.xl-key {
		width: 90px;
	}

	.space-key {
		width: 100%;
	}

	.direction-keys {
		display: none;
	}

	.modal {
		width: 85%;
	}
}

@media (max-width: 420px) {
	/* section {
		display: none;
	}

	.small-device-info {
		display: block;
		margin: 1rem;
		width: 300px;
		text-align: center;
	} */
}
