/* THEMES */
:root {
	--active-red: rgb(255, 0, 0);
	--active-orange: rgb(255, 100, 0);
	--active-yellow: rgb(200, 255, 0);
	--active-green: rgb(0, 255, 0);
	--active-blue: rgb(0, 0, 255);
	--active-purple: rgb(200, 0, 255);
}

.theme-one {
	--font-main: 'DM Sans', sans-serif;
	--background-gradient: linear-gradient(to left, #201f47, #351f47);
	--text-main: #f1f1f1;
	--button-color: #9d9d9d;
	--wrapper-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
	--wrapper-bg: rgba(24, 23, 47, 0.511);
	--wrapper-blur: blur(4px);
	--key-bg: linear-gradient(to bottom left, #000, rgb(0, 0, 0));
	--key-shadow: 0 2px 2px 1px #000, inset 0 2px 1px 0 rgb(73, 73, 73);
	--active-key-shadow: inset 0 1px 2px 0 #000, 0 1px 1px 0 #666, 0px 0px 4px 2px;
	--active-outline: 2px solid;
	--active-red: rgb(255, 0, 0);
	--active-orange: rgb(255, 100, 0);
	--active-yellow: rgb(200, 255, 0);
	--active-green: rgb(0, 255, 0);
	--active-blue: rgb(0, 0, 255);
	--active-purple: rgb(200, 0, 255);
	--blobs-display: initial;
}

.theme-two {
	--font-main: 'DM Sans', sans-serif;
	--background-gradient: linear-gradient(to left, #878787, #e7c9ff);
	--text-main: #121212;
	--button-color: #323232;
	--wrapper-shadow: 1px 2px 10px rgba(72, 72, 72, 0.5);
	--wrapper-bg: rgba(217, 217, 217, 0.511);
	--wrapper-blur: blur(4px);
	--key-bg: linear-gradient(
		to bottom left,
		rgb(197, 197, 197),
		rgb(202, 202, 202)
	);
	--key-shadow: 0 2px 2px 1px rgb(127, 127, 127),
		inset 0 2px 1px 0 rgb(172, 172, 172);
	--active-key-shadow: inset 0 0 18px rgb(213, 213, 213),
		0 0 2px rgb(70, 70, 70);
	--active-outline: 1px solid;
	--active-red: rgb(187, 187, 187);
	--active-orange: rgb(187, 187, 187);
	--active-yellow: rgb(187, 187, 187);
	--active-green: rgb(187, 187, 187);
	--active-blue: rgb(187, 187, 187);
	--active-purple: rgb(187, 187, 187);
	--blobs-display: initial;
}

.theme-three {
	--font-main: 'Source Code Pro', monospace;
	--background-gradient: #fff;
	--text-main: #f1f1f1;
	--button-color: #9d9d9d;
	--wrapper-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
	--wrapper-bg: rgba(24, 23, 47, 0.511);
	--wrapper-blur: blur(4px);
	--key-bg: linear-gradient(to bottom left, #000, rgb(0, 0, 0));
	--key-shadow: 0 2px 2px 1px #000, inset 0 2px 1px 0 rgb(73, 73, 73);
	--active-key-shadow: inset 0 1px 2px 0 #000, 0 1px 1px 0 #666, 0px 0px 4px 2px;
	--active-outline: 2px solid;
	--active-red: rgb(255, 0, 0);
	--active-orange: rgb(255, 100, 0);
	--active-yellow: rgb(200, 255, 0);
	--active-green: rgb(0, 255, 0);
	--active-blue: rgb(0, 0, 255);
	--active-purple: rgb(200, 0, 255);
	--blobs-display: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: var(--background-gradient);
	color: var(--text-main);
	font-family: var(--font-main);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

kbd {
	font-family: inherit;
	display: inline-block;
}

textarea,
button {
	resize: none;
	background-color: transparent;
	font-family: inherit;
	border: none;
	display: inline-block;
}

textarea:focus {
	outline: none;
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.input-container textarea {
	height: 200px;
	width: 600px;
	max-width: 100%;
	margin: 1.6rem;
	border-radius: 4px;
	padding: 1.2rem 2.4rem 1.2rem 1.2rem;
	line-height: 1.5;
	font-size: 1rem;
	box-shadow: var(--wrapper-shadow);
	background-color: var(--wrapper-bg);
	backdrop-filter: var(--wrapper-blur);
	caret-color: var(--text-main);
	color: var(--text-main);
}

.input-container textarea::selection {
	background-color: #5e5d82;
	color: rgba(255, 255, 255, 0.632);
}

.input-buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 15%;
	right: 6%;
}

.input-buttons button {
	font-size: 1.2rem;
	padding: 0.2rem;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	color: var(--button-color);
}

.input-buttons button:hover {
	transform: scale(1.2) rotate(360deg);
	color: #fff;
}

.input-buttons button:active {
	color: rgb(0, 0, 0);
}

.blobs {
	position: relative;
	display: var(--blobs-display);
}

.blob {
	z-index: -1;
	position: absolute;
	opacity: 0.45;
	filter: blur(5px);
	border-radius: 35% 50% 40% 65%;
	animation: shape-changes 10s ease-in infinite alternate,
		blob-movements 20s ease-in infinite alternate;
}

.blob-one {
	background: #6516c5;
	height: 600px;
	width: 600px;
	left: 50px;
	bottom: 0;
}

.blob-two {
	background: #6b1184;
	height: 400px;
	width: 650px;
	top: -500px;
	left: -850px;
}

.blob-three {
	background: #232280;
	height: 450px;
	width: 550px;
	top: 150px;
	left: -300px;
}

@keyframes shape-changes {
	0% {
		border-radius: 35% 50% 40% 65% / 40% 60% 30% 50%;
	}
	20% {
		border-radius: 45% 55% 35% 55% / 40% 65% 70% 35%;
	}
	40% {
		border-radius: 30% 45% 30% 60% / 55% 50% 35% 40%;
	}
	60% {
		border-radius: 45% 65% 40% 55% / 25% 40% 35% 50%;
	}
	80% {
		border-radius: 50% 35% 55% 60% / 50% 45% 60% 65%;
	}
	100% {
		border-radius: 30% 50% 40% 60% / 40% 60% 30% 50%;
	}
}

@keyframes blob-movements {
	from {
		transform: translate(30%, 50%) rotate(15deg);
	}
	to {
		transform: translate(20%, 40%) rotate(5deg) scale(1.1);
	}
}

.row {
	display: flex;
	align-items: center;
	margin: 0.2rem 0;
}

.keyboard-container {
	max-width: 100%;
	padding: 1.2rem;
	border-radius: 8px;
	opacity: 0.8;
	box-shadow: var(--wrapper-shadow);
	background-color: var(--wrapper-bg);
	backdrop-filter: var(--wrapper-blur);
}

.key {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 1.4rem;
	padding: 0.4rem;
	margin: 0.2rem;
	cursor: pointer;
	width: 70px;
	height: 75px;
	border-radius: 4px;
	transition: all 100ms ease-in;
	background-image: var(--key-bg);
	box-shadow: var(--key-shadow);
}

.row-one .key:active {
	box-shadow: var(--active-key-shadow) var(--active-red);
	outline: var(--active-outline) var(--active-red);
}

.row-two .key:active {
	box-shadow: var(--active-key-shadow) var(--active-orange);
	outline: var(--active-outline) var(--active-orange);
}

.row-three .key:active {
	box-shadow: var(--active-key-shadow) var(--active-yellow);
	outline: var(--active-outline) var(--active-yellow);
}

.row-four .key:active {
	box-shadow: var(--active-key-shadow) var(--active-green);
	outline: var(--active-outline) var(--active-green);
}

.row-five .key:active {
	box-shadow: var(--active-key-shadow) var(--active-blue);
	outline: var(--active-outline) var(--active-blue);
}

.row-six .key:active {
	box-shadow: var(--active-key-shadow) var(--active-purple);
	outline: var(--active-outline) var(--active-purple);
}

.key:active {
	transform: translateY(2px) scale(0.98);
	font-weight: bold;
}

.secondary-key {
	font-size: 1rem;
}

.right-align {
	align-self: flex-end;
}

.left-align {
	align-self: flex-start;
}

.m-key {
	width: 105px;
}

.lg-key {
	width: 125px;
}

.xl-key {
	width: 163px;
}

.space-key {
	width: 340px;
}

.direction-keys {
	display: flex;
	align-items: flex-end;
}

.y-keys {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.row-one .key {
	height: 50%;
	font-size: 0.8rem;
	justify-content: flex-end;
	align-items: flex-end;
}

.letter-key {
	justify-content: flex-end;
	font-size: 1.6rem;
	/* text-transform: uppercase; */
}

.operation-key {
	justify-content: flex-end;
	font-size: 1rem;
}

.x-key {
	justify-content: center;
	height: auto;
}

.y-key {
	height: auto;
	justify-content: center;
}

.caps-key {
	position: relative;
}

.caps-indicator {
	position: absolute;
	top: 20%;
	right: 10%;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: rgb(121, 121, 121);
}

.caps-indicator.active {
	background-color: rgb(14, 255, 46);
	box-shadow: 0px 0px 4px 1px rgb(14, 255, 46);
}
